<fieldset>
    <div class="alert alert-info" role="alert">竞价列表</div>
    <div>
        <table class="table  table-hover table-striped">
            <thead style="font-weight:bold;">
                <tr>
                    <!--<td>ID</td>-->
                    <td>竞价资产</td>
                    <td>发布人</td>
                    <td>报价总价</td>
                    <td>报价人</td>
                    <td>报价时间</td>
                    <td>状态</td>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="offer in offers">
                    <!--<td>{{offer}}</td>-->
                    <td><a href="#/assetSheets/{{offer.sheetId}}">{{offer.assetSheet[0].name}}</a></td>
                    <td><a href="#/users/{{offer.assetSheet[0].user[0]._id}}">{{offer.assetSheet[0].user[0].alias}}</a></td>
                    <td>{{offer.price}}</td>
                    <td><a href="#/users/{{offer.user[0]._id}}">{{offer.user[0].alias}}</a></td>
                    <td>{{offer.updatedAt}}</td>
                    <td>{{offer.status}}</td>
                    <td><a href="#/offers/{{offer._id}}">详情</a></td>
                    <!--<td>
                    <button ng-show="{{offer.status}}==0" ng-click="EnableOffer(offer._id)" class="btn btn-primary">通过</button>
                    <button ng-show="{{offer.status}}!=0" ng-click="DisableOffer(offer._id)" class="btn btn-primary">拒绝</button>
                </td>-->
                </tr>
            </tbody>
        </table>

    </div>
</fieldset>