<fieldset>
    <div class="alert alert-info" role="alert">成交资产竞价列表</div>
    <div>
        <table class="table  table-hover table-striped">
            <thead style="font-weight:bold;">
                <tr>
                    <td>竞价资产</td>
                    <td>交易时间</td>
                    <td>交易地点</td>
                    <td>发布人</td>
                    <td>报价总价</td>
                    <td>报价人</td>
                    <td>报价时间</td>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ticket in tickets">
                    <td><a href="#/assetSheets/{{ticket.sheetId}}">{{ticket.assetSheet[0].name}}</a></td>
                    <td>{{ticket.assetSheet[0].planningDeliveryTime | date: 'yyyy-MM-dd'}}</td>
                    <td>{{ticket.assetSheet[0].planningDeliveryAddress}}</td>
                    <td><a href="#/users/{{ticket.assetSheet[0].user[0]._id}}">{{ticket.assetSheet[0].user[0].alias}}</a></td>
                    <td>{{ticket.price}}</td>
                    <td><a href="#/users/{{ticket.buyer[0]._id}}">{{ticket.buyer[0].alias}}</a></td>
                    <td>{{ticket.updatedAt | date: 'yyyy-MM-dd HH:mm'}}</td>
                    <td><a href="#/orders/{{ticket._id}}">详情</a></td>
                    <td><button class="btn btn-primary" >通知</button></td>
                </tr>
            </tbody>
        </table>
<div class="alert alert-danger" role="alert" ng-show="sendEmailSuccessfull">发送通知成功！</div>
<div class="form-group" ng-show="sendEmail && !sendEmailSuccessfull">
            <div>主题：<input style="width:80%" ng-model="topic" /></div>
            <div>
                内容：<textarea rows="6" style="width:80%; margin-top:20px;" ng-model="content"></textarea>
            </div>
            <div style="margin-top:20px;"><button class="btn btn-primary" ng-click="send(toId)">发送</button></div>
        </div>
    </div>
</fieldset>