<fieldset>
    <label>我发布的资产</label>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>类别</td>
                    <td>品牌</td>
                    <td>型号</td>
                    <td>CPU</td>
                    <td>内存</td>
                    <td>硬盘</td>
                    <td>能用</td>
                    <td>价格</td>
                    <td>出价数</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="asset in assets">
                    <td>{{asset.number}}</td>
                    <td>{{asset.category}}</td>
                    <td>{{asset.brand}}</td>
                    <td>{{asset.serial}}</td>
                    <td>{{asset.cpu}}</td>
                    <td>{{asset.memory}}</td>
                    <td>{{asset.harddisk}}</td>
                    <td>
                        <span class="glyphicon glyphicon-ok" ng-show="asset.working"></span>
                    </td>
                    <td>{{asset.price}}</td>
                    <td>{{asset.followUps}}</td>
                    <td>
                        <button ng-show="!editing[$index]" ng-click="addToWishList($index)" class="btn btn-primary">修改</button>
                    </td>
                    <td>
                        <button ng-show="!editing[$index]" ng-click="bid($index)" class="btn btn-primary">发布</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button ng-show="!editing[$index]" ng-click="addToWishList($index)" class="btn btn-primary">新建</button>

    </div>
</fieldset>