html {
    height: 100%;
}

body {
    padding: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
}

a {
    color: #00B7FF;
}

dl {
    margin-bottom: 10px;
}

ul.nav a:hover {
    background-color: #ddd;
}
