body {
    padding: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

dl {
    margin-bottom: 10px;
}

ul.nav a:hover {
    background-color: #FFFF00;
    color: #FFC0CB;
}
