<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>后台管理</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="libs/bootstrap-3.3.5/css/bootstrap.min.css">
    <link href="stylesheets/style.css" rel="stylesheet" />
    <script type="text/javascript" src="libs/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="libs/bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="libs/angularjs/1.4.3/angular.js"></script>
    <script type="text/javascript" src="libs/angularjs/1.4.3/angular-route.js"></script>
    <script type="text/javascript" src="libs/angularjs/1.4.3/angular-resource.js"></script>
    <!--<script type="text/javascript" src="libs/angularjs/1.4.3/angular.min.js"></script>
    <script type="text/javascript" src="libs/angularjs/1.4.3/angular-route.min.js"></script>
    <script type="text/javascript" src="libs/angularjs/1.4.3/angular-resource.min.js"></script>-->
    <script type="text/javascript" src="libs/angularjs/1.4.3/angular-cookies.js"></script>
    <script src="javascripts/admin.js"></script>
    <script src="javascripts/common.js"></script>
</head>
<body ng-controller="UserController" ng-init="init()">
    <div ng-show="!isLogin">
        您没有权限浏览该网页。</a>
    </div>
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="index.html">交易场</a></li>
                        <li><a href="#">{{user.alias}}</a></li>
                        <li ng-show="isLogin"><a href="#" ng-click="logout();">退出</a></li>
                        <li ng-show="!isLogin" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">登录</a>
                            <ul class="dropdown-menu" ng-show="show">
                                <div class="container" style="display: block;max-width:500px;">
                                    <!--<span class="caret x-large up"></span>-->
                                    <form name="loginForm" novalidate>
                                        <div class="form-group">
                                            <span class="h3">登录</span>
                                        </div>
                                        <div class="error-container">
                                            <small class="error"
                                                   ng-show="loginFailed">
                                                用户名或密码不对。
                                            </small>
                                        </div>
                                        <div class="form-group">
                                            <input name="mail" class="form-control input-lg" id="edit-mail" type="text" size="60" maxlength="128" placeholder="手机号码、邮箱或用户名" value="" ng-model="alias" required>
                                        </div>
                                        <div class="form-group">
                                            <input name="pass" class="form-control input-lg" id="edit-pass" type="password" size="60" maxlength="128" placeholder="密码" ng-model="password" required>
                                        </div>
                                        <div class="form-group">
                                            <input name="op" class="btn btn-default" type="submit" value="登录" ng-click="login();">
                                            <!--<input name="op" class="btn btn-default" type="button" value="取消" ng-click="show(false)">-->
                                            <span class="pull-right"><a href="#">忘记密码?</a></span>
                                        </div>
                                    </form>
                                </div>
                            </ul>

                        </li>
                        <li ng-show="!isLogin" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">注册</a>
                            <ul class="dropdown-menu" ng-show="show">
                                <div class="container" style="display: block;max-width:500px;" id="divRegister">
                                    <!--<span class="caret x-large up"></span>-->
                                    <form novalidate>
                                        <div class="form-group">
                                            <span class="h3">注册</span>
                                        </div>
                                        <div class="form-group">
                                            <input name="mail" class="form-control input-lg" id="edit-mail" type="text" size="60" maxlength="128" placeholder="手机号码、邮箱或用户名" value="" ng-model="alias" required>
                                        </div>
                                        <div class="form-group">
                                            <input name="pass" class="form-control input-lg" id="edit-pass" type="password" size="60" maxlength="128" placeholder="密码" ng-model="password" required>
                                        </div>
                                        <div class="form-group">
                                            <input name="pass" class="form-control input-lg" id="edit-pass" type="password" size="60" maxlength="128" placeholder="确认密码" required>
                                        </div>
                                        <div class="form-group">
                                            <input name="op" class="btn btn-default" type="submit" value="注册" ng-click="register();">
                                        </div>
                                    </form>
                                </div>
                            </ul>
                        </li>
                    </ul>


                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- http://getbootstrap.com/css/ Stacked-to-horizontal-->
        <div class="container-fluid" ng-show="isLogin">
            <div class="row">
                <div class="col-xs-2 col-md-2">
                    <ul class="nav nav-stacks">
                        <li role="presentation"><a href="#userManage">管理用户</a></li>
                        <li role="presentation"><a href="#assetSheetManage">管理发布资产</a></li>
                        <li role="presentation"><a href="#offerManage">管理资产竞价</a></li>
                        <li role="presentation"><a href="#orderManage">管理订单</a></li>
                    </ul>
                </div>
                <div class="col-xs-10 col-md-10">
                    <div ng-view>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
